VikingRace.xcodeproj/project.xcworkspace/xcuserdata/artemgorovoj.xcuserdatad/UserInterfaceState.xcuserstate
Pods
VikingRace.xcodeproj/xcuserdata/artemgorovoj.xcuserdatad/xcschemes/xcschememanagement.plist
VikingRace.xcworkspace/xcuserdata/artemgorovoj.xcuserdatad/UserInterfaceState.xcuserstate
